/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.full-width {
  width: 100%
}

.hr {
  display: block;
  height: 1em;
}

.hr-small {
  display: block;
  height: 0.5em;
}

.invalid {
  color: red;
  font-size: 95% !important;
}

.appProgressBar {
  osition: absolute !important;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 2px !important;;
}
